/* css variables */
:root {
	--outer-space: #33393f;
	--turquoise: #2aefcb;
	--gin: #e0eae4;
	--pink: #e866ec;
}

/* element selectors */

body {
    background-color: #33393f 
}

main {
    width: 96%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    

}


h1 {
    font-size: 50px;
    color: var(--pink);
    text-align: center;
    padding: 20px;
   
}

header p {
    text-align: center;
    padding-bottom: 20px;
    color: #e0eae4;


}

footer {
    text-align: center;
    font-size: 25px;
    color: var(--pink);
}

/* class selectors */

.container {
    flex: 1 1 calc(100% / 3); /*the flex calc in the basis spot calculates 1/3 of the screen width*/
    transition: flex-basis 500ms linear;
    padding: 15px;
    margin-bottom: 15px;
}

.card {
    display: flex;
	flex-direction: column;
    min-height: 100%; /*this makes all "cards" the same size*/
    outline: 2px dashed; /*this is a like a border except it's outside the element*/
    outline-color: var(--gin);
    padding: 20px;
    color: var(--pink);
    transition: all 0.5s ease-in-out;
    
    
}

.card-header {
    font-size: 23px;
    padding: 5px;
    background-color: var(--outer-space);
    border-style: solid;
    border-radius: 8px;
    border-color: var(--gin);
    position: relative; 
    margin-top: -40px;
    color: var(--pink);
    transition: all 0.5s ease-in-out;
    
    
}

.card-desc {
    color: var(--pink);
    font-size: 16px;
    padding: 5%;
}

.card-code { 
    font-family: 'Andale Mono WT', 'Andale Mono', Monaco, 'Courier New', Courier,
    monospace;
    white-space: pre-wrap;
    /* tab-size: 4; */
    font-size: 1rem;
    margin: 5px;
    color: var(--gin);
    background-image: linear-gradient( /*this is for the background for .card-code*/
		rgba(232, 102, 236, 0.3) 0%,
		rgba(232, 102, 236, 0.6) 100%
	);
    border-radius: 8px;
    padding: 5%;
    display: flex; /*this makes the background occupy the extra space to the bottom*/
	flex-grow: 1;

}
/*element behaviors when interacted with*/
.card:hover,
.card:hover .card-header { /*this adds the glow on click of card*/
	box-shadow: inset 0px 0px 8px var(--pink),
    0 0 15px var(--pink);
}

.card-code:active { /*when you click on any part of the card-code, select all*/
	user-select: all;
}

::selection { /*when you select any part on the card-code, it will highlight in turquoise*/
	background-color: var(--turquoise);
	color: var(--outer-space); /*when the element is selected (card-code), it will change to grey (instead of white)*/
}

@media screen and (max-width: 992px) {
    .container {
        flex-basis: 50%;
  }
}

@media screen and (max-width: 768px) {
    .container {
        flex-basis: 100%;
    }
}
  